<div class="modal-header">
	<h4 class="modal-title">{{translations.installWizard_upgradePanel_title}}</h4>
</div>
<div class="modal-body">
  <i class="water-mark icon-service"></i>
  <div class="jumbotron welcome-panel upgrade-panel">
		 <h1>{{translations.installWizard_upgradePanel_banner}}</h1>
	   <p>
			{{translations.installWizard_upgradePanel_message}}
		</p>
		<p class="button-set">
			<a class="btn btn-primary btn-lg btn-huge install-recommended" href="#" role="button">
				<b>{{translations.installWizard_upgradePanel_recommendedActionTitle}}</b>
				<sub>
					{{translations.installWizard_upgradePanel_recommendedActionDetails}}
				</sub>
				<i class="icon icon-signup"></i>
			</a>
		</p>
	</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link skip-recommended-plugins">
        {{translations.installWizard_upgradePanel_skipRecommendedPlugins}}
    </button>
</div>
